*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.container-registro{
    width: 700px;
    height: 90%;
    min-width: 700px;
    min-height: 600px;
    background-color: #444;
    align-self: center;
    display: block;
    justify-content: space-between;
}

/* SECCION UNO */

.seccion-uno{
    width: 100%;
    height: 40%;
    background-color: aquamarine;
    display: block;
    justify-content: center;
    align-items: center;
}

.seccion-datos{
    width: 100%;
    height: 100%;
    background-color: rgb(152, 157, 157);
}

/* SECCION DOS */


.seccion-dos{
    width: 100%;
    height: 40%;
    background-color: rgb(126, 174, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-cursos{
    width: 50%;
    height: 100%;
    background-color: rgb(73, 92, 160);
}

.seccion-distritos{
    width: 50%;
    height: 100%;
    background-color: rgb(53, 106, 63);
}

/* SECCION TRES */


.seccion-tres{
    width: 100%;
    height: 20%;
    background-color: rgb(56, 61, 90);

}

.seccion-opciones{
    width: 100%;
    height: 100%;
    background-color: rgb(69, 115, 115);
}